
<% form_for(pagos_financa) do |f| %>
  <td><%= f.hidden_field :pago_id,:value => @pago.id%></td>
  <td><%= f.hidden_field :data,:value => @pago.data%></td>
  <div class="group_cd">
    <table>
      <tr >
        <td>Conta :</td>
        <td><%= f.collection_select :conta_id, Conta.all(:select => 'id,nome',:order => '1'),:id,:nome %></td>
      </tr>

      <tr>
        <td>Cheque:</td>
        <td><%= f.text_field :cheque, :size => 15%></td>
        <td>Diferido:</td>
        <td><%= f.date_select :diferido  %></td>
      </tr>
      
      <tr >
      <% if @pago.moeda == 0 %>
           <td>Total U$:</td>
           <td><%= f.text_field :valor_dolar, :size => 15, :value => format("%.2f",@total_pago_dolar.to_f + @total_interes_dolar.to_f - @total_desconto_dolar.to_f)%></td>
      <% else %>
          <td>Total Gs.:</td>
          <td><%= f.text_field :valor_guarani, :size => 15,:value =>  @total_pago_guarani.to_f + @total_interes_guarani.to_f - @total_desconto_guarani.to_f%></td>
      <% end %>
      </tr>

      <tr>
        <td>Documento:</td>
        <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                  :order  => '1' ),:id,
                                                                                   :nome %></td>
      </tr>

      <tr>
        <td>N.:</td>
        <td><%= f.text_field :documento_numero, :size => 15%></td>
      </tr>


        <td valign="top">Descripcion :</td>
        <td><%= f.text_area :descricao,
                             :size => '35X3',
                             :value => 'PAGO ' + @pago.persona_nome%></td>
    </table>
  </div>


  <%= f.submit "   Grabar  ",:disable_with => "Aguarde..."  %> |
  <a href="/pagos/show/<%=@pago.id%>" >Volver</a>  |
  <a href="javascript:void(0)" onClick="Comprovante()">Recibo</a> |
  <a href="/pagos" > Fin</a>
  <%= hidden_field_tag :id, @pago.id %>
<% end %>

  <table id="list4"></table>

  <script>

jQuery("#list4").jqGrid({ datatype: "local", height: 250, colNames:['Inv No','Date', 'Client', 'Amount','Tax','Total','Notes'], colModel:[ {name:'id',index:'id', width:60, sorttype:"int"}, {name:'invdate',index:'invdate', width:90, sorttype:"date"}, {name:'name',index:'name', width:100}, {name:'amount',index:'amount', width:80, align:"right",sorttype:"float"}, {name:'tax',index:'tax', width:80, align:"right",sorttype:"float"}, {name:'total',index:'total', width:80,align:"right",sorttype:"float"}, {name:'note',index:'note', width:150, sortable:false} ], multiselect: true, caption: "Manipulating Array Data" }); var mydata = [ {id:"1",invdate:"2007-10-01",name:"test",note:"note",amount:"200.00",tax:"10.00",total:"210.00"}, {id:"2",invdate:"2007-10-02",name:"test2",note:"note2",amount:"300.00",tax:"20.00",total:"320.00"}, {id:"3",invdate:"2007-09-01",name:"test3",note:"note3",amount:"400.00",tax:"30.00",total:"430.00"}, {id:"4",invdate:"2007-10-04",name:"test",note:"note",amount:"200.00",tax:"10.00",total:"210.00"}, {id:"5",invdate:"2007-10-05",name:"test2",note:"note2",amount:"300.00",tax:"20.00",total:"320.00"}, {id:"6",invdate:"2007-09-06",name:"test3",note:"note3",amount:"400.00",tax:"30.00",total:"430.00"}, {id:"7",invdate:"2007-10-04",name:"test",note:"note",amount:"200.00",tax:"10.00",total:"210.00"}, {id:"8",invdate:"2007-10-03",name:"test2",note:"note2",amount:"300.00",tax:"20.00",total:"320.00"}, {id:"9",invdate:"2007-09-01",name:"test3",note:"note3",amount:"400.00",tax:"30.00",total:"430.00"} ]; for(var i=0;i<=mydata.length;i++) jQuery("#list4").jqGrid('addRowData',i+1,mydata[i]); 


  function Comprovante()                //
  {
    window.open('/pagos/comprovante_print/' + document.getElementById('id').value, 'Pagina', ' SCROLLBARS=YES, TOP=250, LEFT=500, WIDTH=600, HEIGHT=400');
  }
  //FIM ABRI POPUP----------------------------------------------------------------

</script>


