<div class="group">
  <table>
    <tr>
      <td width="80" align="center">Fecha</td>
      <td width="250" align="center">Descripcion</td>
      <td width="100" align="center">N. Recibo</td>
      <td width="250" align="center">Documento</td>
      <td width="80" align="center">Cheque</td>      
      <% if @cobro.moeda == 0 %>
           <td width="150" align="center">Total U$</td>
      <% else %>
           <td width="150" align="center">Total Gs.</td>
      <% end %>
      <td width="80" align="center">Vencimento</td>
    </tr>
  </table>
  <div class="rolagem_cobro" dir="div">
    <table>
    <% cobros_financas.each do |cobros_financa| %>
      <tr class = "<%= cycle( "cor1", "cor2" )%>">        
        <td width="80"  align="center"><%= cobros_financa.data.strftime("%d/%m/%Y")%></td>
        <td width="250" align="left"><%= cobros_financa.descricao%></td>
        <td width="100" align="center"><%= cobros_financa.documento_numero%></td>
        <td width="250" align="left"><%= cobros_financa.documento_nome%></td>
        <td width="80" align="center"><%= cobros_financa.cheque%></td>
        <% if @cobro.moeda == 0 %>
             <td width="150" align="right"><%= number_to_currency( cobros_financa.valor_dolar,      :format =>' %n ', :precision => 0 )%></td>
        <% else %>
             <td width="150" align="right"><%= number_to_currency( cobros_financa.valor_guarani,      :format =>' %n ', :precision => 0 )%></td>
        <% end %>
        <td width="80"  align="center"><%= cobros_financa.diferido.strftime("%d/%m/%Y")%></td>
        
        <td><%= link_to 'Editar', edit_cobros_financa_path(cobros_financa) %></td>
        <td><%= link_to 'Borrar', cobros_financa, :confirm => 'Tiene Certeza?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>
  </div>
  </div>



