<div class="group">

  <table>
    <tr>
      <td width="80" align="center">Cod.</td>
      <td width="80" align="center">Fecha</td>
      <td width="350" align="center">Clientes</td>
      <td width="50" align="center">N. Recibo</td>
      <td width="100" align="center">Total</td>

    </tr>
  </table>
  <div class="rolagem" dir="div">

    <table>

      <% for cobro in @cobros %>
            <% valor = CobrosFinanca.sum(:valor_guarani, :conditions => ["cobro_id = ?",cobro.id])  %>

        <tr class = "<%= cycle( "cor1", "cor2" )%>">

          <td width="80"  align="center"><%= cobro.id%></td>
          <td width="80"  align="center"><%= cobro.data.strftime("%d/%m/%Y")%></td>
          <td width="350" align="left"><%= cobro.persona_nome%></td>
          <td width="50" align="center"><%= cobro.recibo %></td>
          <td width="100" align="right"><%=number_to_currency(  valor, :format =>' %n ', :precision => 0)%></td>
          <td><%= link_to 'Editar', edit_cobro_path(cobro) %></td>
          <td><%= link_to 'Borrar', cobro, :confirm => 'Tiene Certeza?', :method => :delete %></td>


        </tr>
      <% end %>
    </table>

  </div>
</div>





