
<div class="group">

  <table>

      <% qtd        = 0 %>
      <% custos     = 0 %>
      <% for produto in @stocks %>
      <% stock          = Stock.sum('entrada - saida',:conditions => ['produto_id = ?',produto.id]) %>
      <% last_custo     = Stock.all(:conditions => ['status = 0 and produto_id = ?',produto.id] ,:order => 'id desc limit 1') %>
        <tr>
          <td width="120" align="center"> <%=h produto.clase_id%> </td>
          <td width="120" align="center"> <%=h produto.grupo_id%> </td>
          <td width="400" align="left">   <%=h produto.produto_nome%> </td>
          <td width="100" align="right"> <%=h format( "%.3f",stock.to_f ) %> </td>
          <td width="100" align="right"> <%=h number_to_currency( last_custo.unitario_guarani, :format =>' %n ', :precision  => 0 ) %> </td>
          <td width="100" align="right"></td>
        </tr>
        <% qtd          = qtd  + stock %>
      <% end %>
        <tr class="head" height="20">
          <td colspan="5">Anterior : <%= @saldo_anterior %></td>
          <td align="right"><%= format( "%.3f",totentrada ) %></td>
          <td align="right"><%= format( "%.3f",totsaida ) %></td>
          <td align="right"><%= format( "%.3f", ( @saldo_anterior.to_f + totentrada ) - totsaida  ) %></td>
        </tr>
        <tr>
          <td colspan="5">Cantidad : <%= qtd %></td>
        </tr>
    </table>
</div>



