<body onload="CampoCompraDoc(<%= @compra.persona_id %>)">
<% form_for(compras_documento) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :compra_id %>

<script>
  function buscaproveedor()
  {
    document.getElementById('key').value = document.getElementById('nomeproveedor').value;
  }

</script>

  <div class="group">
    <table>
      <tr>
        <td>
          <table>
            <tr>
              <td>
                <fieldset>
                  <%= f.hidden_field :tipo_compra, :value => 1 %>
                  <table>

                    <tr>
                      <td align="right">Proveedor:</td>
                      <td><%= select_tag("nomeproveedor", options_for_select(Persona.all(:select => 'id,nome',
                                                                                        :order => '2').collect{|e| [e.nome, e.id]}),
                                                                                        :onkeydown => "buscaproveedor() " ) %>

                          <%= text_field_tag( 'key',
                                               nil,
                                               :id     => "key",
                                               :onblur => remote_function(:update => "key",
                                                                          :url    => { :action => :get_proveedor,
                                                                          :id     => 1 },
                                                                          :with   => "'key='+this.value" ),
                                                                          :size   => 5
                                             ) %>

                          <%= f.hidden_field :persona_id %>
                          <%= f.hidden_field :persona_nome %>
                      </td>                      
                    </tr>

                    <tr>
                      <td align="right">Ruc:</td>
                      <td><%= f.text_field :persona_ruc,
                                           :size =>15,
                                           :value => @compra.persona_ruc%></td>

                    </tr>
                  </table>
                </fieldset>
              </td>
            </tr>
          </table>
        </td>
        <td>
          <table>
            <tr>
              <td>
                <fieldset>
                  <table>

                    <tr>
                      <td align="right">Documento:</td>
                      <td><%= f.collection_select :documento_id, Documento.all( :select => 'id,nome',
                                                                               :order => '1' ),:id,
                                                                                               :nome %></td>
                      <td>Tipo :</td>
                      <td><%= f.select :tipo_documento,
                              (
                              [                                
                                ["MERCADERIAS", "MERCADERIAS"],
                                ["DESPACHO", "DESPACHO"],
                                ["FLETES", "FLETES"],
                                ["SEGUROS", "SEGUROS"],
                                ["OUTROS", "OUTROS"]

                              ]
                              )%>
                      </td>
                    </tr>

                    <tr>
                      <td align="right">Numero:</td>
                      <td><%= f.text_field :documento_numero_01,
                                           :value => @compra.documento_numero_01,
                                           :size => 3 %>-
                          <%= f.text_field :documento_numero_02,
                                           :value => @compra.documento_numero_02,
                                           :size => 3 %>-

                          <%= f.text_field :documento_numero,
                                           :size => 15,
                                           :value => @compra.documento_numero%></td>

                      <td align="right">Timbrado:</td>
                      <td><%= f.text_field :persona_timbrado,
                                           :size => 15,
                                           :value => @compra.documento_timbrado%></td>

                    </tr>
                  </table>
                </fieldset>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>


    <table>
      <tr>
        <td>
          <table>
            <tr>              
              <%= f.hidden_field :data, :value => Time.now.strftime("%Y-%m-%d") %>

                     <td>Tipo :</td>
                    <td>
                      <fieldset>
                        <%= f.radio_button :tipo, 0, :Checked => "True"%> Contado
                        <%= f.radio_button :tipo, 1%> Credito
                      </fieldset>
                      <input type="hidden" name="tipo" id="tipo" value="0" />
                    </td>
                    <td align="right" width="100">Cotacion:</td>
                    <td><%= f.text_field :cotacao,
                                         :size =>10,
                                         :value => @compra.cotacao,
                                         :readonly => "readonly"%></td>
                  </tr>
                </table>
                 </td>            

      </tr>
    </table>





        <table>
          <tr>
            <td>

              <fieldset>
                <legend>Moneda</legend>
                <%= f.radio_button :moeda, 0, :onblur => "DocTipoCompra('0'),ExibeDivCompra()" %> Dolar
                <%= f.radio_button :moeda, 1, :onblur => "DocTipoCompra('1'),ExibeDivCompra()"%> Gs.
              </fieldset>
            </td>
          </tr>

        </table>

     <input type="hidden" id="tipomoeda" name="tipomoeda"/>



    <!--DETALHES DOLAR -------------------------------------------------------------!-->


          <div id="DOLAR" style="display: none;">

            <table>
              <tr>

                <td>
                  <fieldset>

                    <table>
                      <tr>
                        <td align="right">Exentas US$ :</td>
                        <td><%= f.text_field :exentas_dolar, 
                                             :size   =>10,
                                             :onblur => "MascaraMoeda(this)"%></td>

                        <td align="right">Gravadas 5% US$ :</td>
                        <td><%= f.text_field :gravadas_05_dolar, 
                                             :size   =>10,
                                             :onblur => "MascaraMoeda(this),CompraDocGravada05Dolar()"%></td>

                        <td align="right">Gravadas 10% US$ :</td>
                        <td><%= f.text_field :gravadas_10_dolar, 
                                             :size   =>10 ,
                                             :onblur => "MascaraMoeda(this),CompraDocGravada10Dolar()" %></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td align="right">Impuestos 5% US$ :</td>
                        <td><%= f.text_field :imposto_05_dolar, 
                                             :size   => 10,
                                             :onblur => "MascaraMoeda(this)" %></td>

                        <td align="right">Impuestos 10% US$ :</td>
                        <td><%= f.text_field :imposto_10_dolar, 
                                             :size   => 10,
                                             :onblur => "MascaraMoeda(this)" %></td>
                      </tr>
                      <tr>

                        <td align="right" colspan="5">Total US$ :</td>
                        <td><%= f.text_field :total_dolar, 
                                             :size   => 10 ,                                             
                                             :onblur => "MascaraMoeda(this)"%></td>
                      </tr>
                    </table>
                  </fieldset>
                </td>
              </tr>
            </table>
          </div>

          <!--DETALHES GUARANI------------------------------------------------------------ !-->


          <div id="GUARANI" style="display: none;">
            <table>
              <tr>
                <td>
                  <fieldset>
                    <table>
                      <tr>
                        <td align="right">Exentas Gs.:</td>
                        <td><%= f.text_field :exentas_guarani, 
                                             :size => 10 %></td>

                        <td align="right">Gravadas 5% Gs.:</td>
                        <td><%= f.text_field :gravadas_05_guarani, 
                                             :size => 10,
                                             :onblur => "CompraDocGravada05Gs()" %></td>

                        <td align="right">Gravadas 10% Gs.:</td>
                        <td><%= f.text_field :gravadas_10_guarani, 
                                             :size   => 10,
                                             :onblur => "CompraDocGravada10Gs()" %></td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td align="right">Impuestos 5% Gs.:</td>
                        <td><%= f.text_field :imposto_05_guarani, 
                                             :size =>10 %></td>

                        <td align="right">Impuestos 10% Gs.:</td>
                        <td><%= f.text_field :imposto_10_guarani, 
                                             :size => 10 %></td>
                      </tr>
                      <tr>

                        <td align="right" colspan="5">Total Gs.:</td>
                        <td><%= f.text_field :total_guarani, 
                                             :size   => 10 %></td>
                      </tr>

                    </table>


                  </fieldset>
                </td>

              </tr>
            </table>

          
    </div>
  </div>
  <a href="/compras/compras_documento/<%=params[:id]%>" >Volver</a> | <%= f.submit "Grabar" %>
<% end %>
</body>