<h1 align="right" id="header">Compra</h1>
<%= link_to 'Nuevo', new_compra_path %>

<div class="group">
  <table>
    <tr>
      <td width="80" align="center">Fecha</td>
      <td width="400" align="center">Provedor</td>
      <td width="100" align="center">Cantidad</td>
      <td width="100" align="center">Total Dolar</td>
      <td width="100" align="center">Total Gs.</td>

    </tr>
  </table>
  <div class="rolagem" dir="div">


    <table>
      <tr>
      </tr>

      <% for compra in @compras %>
           <% @produto_count        = ComprasProduto.sum(:quantidade,:conditions    => ['compra_id = ?',compra.id] )%>
           <% @produto_sum_dolar    = ComprasProduto.sum(:total_dolar,:conditions   => ['compra_id = ?',compra.id] )%>
           <% @produto_sum_guarani  = ComprasProduto.sum(:total_guarani,:conditions => ['compra_id = ?',compra.id] )%>

           <tr class = "<%= cycle("cor1", "cor2") %>">
             <td width="80" align="center">    <%= h compra.data.strftime("%d/%m/%Y")%></td>
             <td width="400" align="left">   <%= h compra.persona_nome%></td>
             <td width="100" align="center">   <%= @produto_count%></td>
             <td width="100" align="right">   <%=h number_to_currency(@produto_sum_dolar, :format=>' %n ', :separator => ",")  %></td>
             <td width="100" align="right">   <%=h number_to_currency(@produto_sum_guarani, :format=>' %n ', :precision => 0)  %></td>
             <td><%= link_to 'Editar', edit_compra_path(compra) %></td>
             <td><%= link_to 'Borrar', compra, :confirm => 'Tiene Certeza?', :method => :delete %></td>
           </tr>
      <% end %>
    </table>
  </div>
</div>


