   <table>
     <tr >
       <td colspan="2">
         <fieldset>
            <table>
             <tr>
              <td>
                Stock Atual : <%= @quantidade %>  |
              </td>
              <td align="right">
                  <a href="javascript:void(0)" onClick="AbrirHistoricoPreco('<%= @produto.id.to_i %>')">Hist. Precio</a>
              </td>
             </tr>
           </table>
         </fieldset>
       </td>
     </tr>

     <tr>
       <td valign="top">
         <fieldset>
           <legend>Ult. Compra</legend>
           <table>
             <tr>
               <td align="right">Fecha Ult. Compra :</td>
               <td><%= @produto.compras_produtos.last ? @produto.compras_produtos.last.data.strftime("%d/%m/%Y") : "00/00/0000" %></td>
             </tr>
             <tr>
               <td align="right">Cantidad Compra :</td>
               <td><%= number_to_currency( @produto.compras_produtos.last ? @produto.compras_produtos.last.quantidade : "0.000",         :format =>' %n ', :separeitor => "," )%></td>
             </tr>
             <tr>
               <td align="right">Unit. U$ :</td>
               <td><%= number_to_currency( @produto.compras_produtos.last ? @produto.compras_produtos.last.unitario_dolar : "0.00",         :format =>' %n ', :separeitor => "," )%></td>
             </tr>
             <tr>
                <td align="right">Unit. Gs.:</td>
               <td><%= number_to_currency( @produto.compras_produtos.last ? @produto.compras_produtos.last.unitario_guarani : "0",         :format =>' %n ', :precision => 0  )%></td>
             </tr>
             <tr>
               <td align="right">Proveedor:</td>
               <td><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.persona_nome : "----" %></td>
             </tr>

           </table>
         </fieldset>
       </td>

       <!-- ULTIMA VENDA   ---------------------------------------------------- !-->
       <td valign="top">
         <fieldset>
           <legend>Ult. Ventas</legend>

           <table>
             <tr>
               <td align="right">Fecha Ult. Venta :</td>
               <td><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.data.strftime("%d/%m/%Y") : "00/00/0000" %></td>
             </tr>
             <tr>
               <td align="right">Cantidad Venta :</td>
               <td><%= number_to_currency( @produto.vendas_produtos.last ? @produto.vendas_produtos.last.quantidade : "0.000",         :format =>' %n ', :separeitor => "," ) %></td>
             </tr>
             <tr>
               <td align="right">Unit. U$ :</td>
               <td><%= number_to_currency( @produto.vendas_produtos.last ? @produto.vendas_produtos.last.unitario_dolar : "0.00",         :format =>' %n ', :separeitor => "," ) %></td>
             </tr>
             <tr>
               <td align="right">Unit. Gs.:</td>
               <td><%= number_to_currency( @produto.vendas_produtos.last ? @produto.vendas_produtos.last.unitario_guarani : "0",         :format =>' %n ', :precision => 0 ) %></td>
             </tr>

             <tr>
               <td align="right">Cliente:</td>
               <td><%= @produto.vendas_produtos.last ? @produto.vendas_produtos.last.persona_nome : "----" %></td>
             </tr>

           </table>
         </fieldset>
       </td>
     </tr>
   </table>



