<% form_tag produtos_selecionados_produtos_path, :name => "form1" do %>

<table>
	<tr>
        <td></td>		
		<td width="100" align="center">Clase</td>
		<td width="100" align="center">Grupo</td>
		<td width="100" align="center">Cod. Barra</td>
		<td width="550" align="center">Produto</td>
		<td width="100" align="center">Precio</td>

	</tr>
</table>

<div class="rolagem" id="div">
	<table>

		<% for produto in @prod	 %>
		<tr class = "<%= cycle("cor1", "cor2")%>" >
			 <td width="30" align="center"><%= check_box_tag "produto_ids[]", produto.id   %></td>
			<td width="100" align="center"> <%= h produto.clase_id%> </td>
			<td width="100" align="center"> <%= h produto.grupo_id%> </td>
			<td width="100" align="center"> <%= h produto.barra%> </td>
			<td width="550" align="left"> <%= h produto.nome%> </td>
			<td width="100" align="left"> <%= h number_to_currency(produto.preco_venda_guarani, :format=>' %n ', :precision => 0 )%> </td>
			<td><%= link_to 'Editar', edit_produto_path(produto) %></td>
			<td><%= link_to 'Borrar', produto, :confirm => 'Tiene Certeza?', :method => :delete %></td>
			<td>
			<a href="/produtos/historico_preco_produto/<%= produto.id.to_i %>">Histo. Precio</a>
			</td>

		</tr>
		<% end %>
	</table>
</div>
<td width="480"><%= submit_tag "Flejes" %></td>
<% end %>
