<h1 align="right" id="header">Transferencia de Depositos</h1>

<% form_for(@transferencia_deposito_produto) do |f| %>

  <%= f.error_messages %>
  <%= f.hidden_field :transferencia_deposito_id %>
  <%= f.hidden_field :data,:value => @transferencia_deposito_produto.transferencia_deposito.data  %>
  <%= f.hidden_field :deposito_origem_id,:value => @transferencia_deposito_produto.transferencia_deposito.deposito_origem_id  %>
  <%= f.hidden_field :deposito_origem_nome,:value => @transferencia_deposito_produto.transferencia_deposito.deposito_origem_nome %>
  <%= f.hidden_field :deposito_destino_id,:value => @transferencia_deposito_produto.transferencia_deposito.deposito_destino_id %>
  <%= f.hidden_field :deposito_destino_nome,:value => @transferencia_deposito_produto.transferencia_deposito.deposito_destino_nome %>

  <div class="group">
    <table class="">
      <tr>
      <td align="right">Producto :</td>
      <td><%= f.collection_select :produto_id, Produto.all( :select => ' id,
                                                                         nome',
                                                                :order  => '2' ), :id,
                                                                                  :nome %></td>
      </tr>
      <tr>
          <td align="right">Cantidad :</td>
          <td>    <%= f.text_field :quantidade %>    <%= f.submit 'Add' %></td>
      </tr>
      
    </table>
  </div>
<% end %>

