<h1 align="right" id="header">Cobros</h1>
<br/>

<% form_for(@cobros_detalhe) do |f| %>
  <%= f.error_messages %>

  <%= f.hidden_field :cobro_id  %>
  <%= f.hidden_field :persona_id, :value => @cobros_detalhe.cobro.persona_id %>
  <%= f.hidden_field :persona_nome, :value => @cobros_detalhe.cobro.persona_nome  %>
  <%= f.hidden_field :data, :value => @cobros_detalhe.cobro.data  %>
<div class="group">
  <table>
    <tr>
      <td>Documento :</td>
      <td><%= f.text_field :documento_nome, :size => 20 , :readonly => "readonly"%></td>
    </tr>
    <tr>
      <td>N. Doc.:</td>
      <td><%= f.text_field :documento_numero, :size => 20 , :readonly => "readonly"%></td>
    </tr>
    <tr>
      <td>Cuota :</td>
      <td><%= f.text_field :cota, :size =>10 , :readonly => "readonly"%></td>
    </tr>
    <tr>
      <td>Vencimento :</td>
      <td><%= f.date_select :vencimento , :readonly => "readonly"%></td>
    </tr>
    <tr>
      <td>Valor Dolar:</td>
      <td><%= f.text_field :valor_dolar, :size => 15 , :readonly => "readonly"%></td>
      <td> Gs.:</td>
      <td><%= f.text_field :valor_guarani, :size => 15 , :readonly => "readonly"%></td>
    </tr>
    <tr>
      <td>Anterior Dolar:</td>
      <td><%= f.text_field :anterior_dolar, :size => 15 , :readonly => "readonly"%></td>
      <td>Gs.:</td>
      <td><%= f.text_field :anterior_guarani, :size => 15, :readonly => "readonly" %></td>
    </tr>
    <tr>
      <td>Saldo Dolar:</td>
      <td><%= f.text_field :saldo_dolar, :size => 15 , :readonly => "readonly"%></td>
      <td>Gs.:</td>
      <td><%= f.text_field :saldo_guarani, :size => 15, :readonly => "readonly" %></td>
    </tr>

  </table>
  <table>
    <tr>
      <td>
        <fieldset>
          <table>
            <tr>
              <td>Cobro Dolar:</td>
              <td><%= f.text_field :cobro_dolar, :size => 15 %></td>
              <td>Gs.:</td>
              <td><%= f.text_field :cobro_guarani, :size => 15 %></td>
            </tr>
            <tr>
              <td>Estado:</td>
              <td colspan="2"><%= f.radio_button :estado,0%> Parte</td>
              <td><%= f.radio_button :estado,1%> Cancelacion</td>
            </tr>
          </table>
        </fieldset>
      </td>
    </tr>
  </table>
</div>
  <%= f.submit "Grabar" %><a href="/cobros/show/<%=@cobros_detalhe.cobro_id%>" >Volver</a>

  <script>
    //ABRI POPUP-----------------------------------------------------------------
    document.onkeydown=function(e)
    {
      var cliente = document.getElementById("cobros_detalhe_persona_id") .value;
      var id      = document.getElementById("cobros_detalhe_cobro_id") .value;
      if(e.which == 113)
        window.open('http://localhost:3000/cobros/busca_cliente/'+id +'?busca=' + cliente, 'Pagina', ' SCROLLBARS=YES, TOP=10, LEFT=10, WIDTH=1300, HEIGHT=400');
    }
    //FIM ABRI POPUP----------------------------------------------------------------

  </script>
<% end %>

